<div class="card">
  <div class="text-center">
    <%= gravatar_image_tag(@user.email, :alt => @user.nome_completo, :class => 'card-img-top img-rounded', :gravatar => { :size => 80 } ) %>
  </div>
  <div class="card-block">
    <h4 class="card-title text-center"><%= @user.nome %></h4>
    <p class="card-text text-center">Posts: <%= @user.posts.count %> </p>
    <p class="card-text text-center"><small class="text-muted"> Seguidores: <%= @user.seguidores.count %> | Seguindo: <%= @user.seguindo.count %> </small></p>
  </div>
</div>