<%= form_for(current_user.relacionamentos_on.find_by(seguido_id: @user.id),
             html: { method: :delete }) do |f| %>
    <div><%= hidden_field_tag :seguido_id, @user.id %></div>

    <%= f.submit "Deixar de Seguir", class: "btn" %>
<% end %>