<div class="panel panel-default panel-inverse" >
  <div class="panel-heading"><%= post.user.login %> | <%= post.title %> </div>
  <div class="panel-body"><%= post.content %></div>
  <div class="panel-footer text-right"><%= post.created_at %></div>
</div>