<div class="card-deck">
  <% @users.each do |user| %>
  <div class="card">
    <div class="text-center">
      <%= gravatar_image_tag(user.email, :alt => user.nome_completo, :class => 'card-img-top img-rounded', :gravatar => { :size => 80 } ) %>
    </div>
    <div class="card-block">
      <h4 class="card-title text-center"><%= user.nome %></h4>
      <p class="card-text text-center">Posts: <%= user.posts.count %> </p>
      <p class="card-text text-center"><small class="text-muted"> Seguidores: <%= user.seguidores.count %> | Seguindo: <%= user.seguindo.count %> </small></p>
      <p class="card-text text-center">
        <div class="text-center">

        <% if user_signed_in? and user != current_user  %>
            <% @user = user %>
            <% if current_user.seguindo?(user) %>
                <%= render 'users/nao_seguir' %>
            <% else %>
                <%= render 'users/seguir' %>
            <% end %>
        <% end %>
      </p>
    </div>

  </div>
  </div>
  <br/>
  <% end %>

</div>

