<div class="container" >
  <div class="row justify-content-md-center">
    <div class="col col-lg-3 text-center">
      <%= render 'users/badge' %>
      <% if user_signed_in? and @user != current_user  %>
          <% if current_user.seguindo?(@user) %>
              <%= render 'users/nao_seguir' %>
          <% else %>
              <%= render 'users/seguir' %>
          <% end %>
      <% end %>
    </div>
    <div class="col col-lg-3">
      <%= render 'users/timeline' %>
    </div>
  </div>
</div>
