<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label 'Titulo' %><br />
      <%= form.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label 'Conteudo' %><br />
      <%= form.text_area :content %>
    </div>

  <div class="actions">
    <%= form.submit 'Criar Post' %>
  </div>
<% end %>
