.logo {
    margin-right: 3px ;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #666666;
    color: white;

}

body { padding-top: 60px; }

.post-no-data {
    background-image: url("NoDataFound.png");
    background-size: auto;

}