<% if flash[:notice] %>
    <div class="notice text-center alert-warning"><%= flash[:notice] %></div>
<% end %>

<% if user_signed_in? %>
    <div class="container" >
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
          <%= render 'users/badge' %>
          </div>
        <div class="col col-lg-3">
          <%= render 'users/timeline' %>
        </div>
        <div class="col col-lg-3">
          <%= render 'users/timeline_seguidor' %>
        </div>
      </div>
    </div>
<% end %>